body {
    /*background: linear-gradient(to right, #09203F, #537895);*/
    background: #90C7DE;
}
.todo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(45, 52, 54, 0.281);
}

.tela {
    background-color: #2D3436;
}
.equal {
    height: 80px;
    width: 100px;
    border: none;
    margin-bottom: 2px;
    font-size: 60px;
    font-family: Fira Code;
    background-color: #33E239;
    color: white;
}

.operator {
    height: 80px;
    width: 100px;
    border: none;
    margin-bottom: 2px;
    font-size: 50px;
    font-family: 'Segoe UI Historic';
    background-color: #4C88EF;
    color: white;
}
.clear {
    background-color: #FF8F10;
    width: 150px;
    border: none;
}

.button {
    height: 80px;
    width: 100px;
    border: none;
    font-size: 60px;
    font-family: Fira Code;
}

.operation {
    position: relative;
    font-size: 80px;
    width: 360px;
    left: 40px;
    background-color: #2D3436;
    border: none;
    font-family: Fira Code;
    color: lightcyan;
    text-align: right;
}
input.history {
    font-size: 30px;
    width: 400px;
    margin-top: 5px;
    background-color: #2D3436;
    border: none;
    font-family: Fira Code;
    color: #A4A4A4;
    text-align: right;
}

#operator {
    width: 30px;
    border: none;
    font-size: 30px;
    margin-left: 10px;
    font-family: Fira Code;
    background-color: #2D3436;
    color: #A4A4A4;
}

#op {
    display: contents;
    position: absolute;
    font-size: 60px;
    margin-left: 20px;
    font-family: Fira Code;
    color: #A4A4A4;
}

.del {
    background-color: red;
    width: 260px;
}
 .top {
    margin-bottom: 2px;
    margin-top: 2px;
    height: 40px;
    font-size: 25px;
 }