body {
    /*background: linear-gradient(to right, #09203F, #537895);*/
    background: #90C7DE;
}
.todo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.tela {
    background-color: #2D3436;
}
.equal {
    height: 100px;
    width: 100px;
    border: none;
    margin-bottom: 2px;
    font-size: 60px;
    font-family: Fira Code;
    background-color: #33E239;
    color: white;
}

.operator {
    height: 100px;
    width: 100px;
    border: none;
    margin-bottom: 2px;
    font-size: 50px;
    font-family: 'Segoe UI Historic';
    background-color: #4C88EF;
    color: white;
}
.j_clear {
    background-color: #FF8F10;
}

.button {
    height: 100px;
    width: 100px;
    border: none;
    font-size: 60px;
    font-family: Fira Code;
}

.operation {
    font-size: 80px;
    width: 400px;
    background-color: #2D3436;
    border: none;
    font-family: Fira Code;
    color: lightcyan;
    direction: rtl;
}
input.history {
    font-size: 30px;
    width: 400px;
    margin-top: 5px;
    background-color: #2D3436;
    border: none;
    font-family: Fira Code;
    color: #A4A4A4;
    direction: rtl;
}

#operator {
    width: 30px;
    border: none;
    font-size: 30px;
    margin-left: 10px;
    font-family: Fira Code;
    background-color: #2D3436;
    color: #A4A4A4;
}